/*DROPBOX*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.dropbox-wrap{
	width: 100%;
	height: 700px;
	position: relative;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	background-color: #f7f7f7;
	transition: all 1s ease;

	.dropbox-wrap_background{
		max-width: 1680px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-image: url(../images/dropbox.jpg);
		background-position: 108% center; 
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 1s ease;
	}

	.dropbox-content{
		max-width: 990px;     /*max-width:990px  100% for responsive*/
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    box-sizing: border-box;
    transition: all 1s ease;

		.dropbox-content__text{
			width: 45%;
			color: #47525d;
			
			.text__item1,.text__item2{
				margin-top:0;
				font-weight: 100;
			}
			.text__item1{
				margin-bottom:20px;  
				font-size: 47.25px;
				line-height: 1.3;
				transition: all 1s ease;
			}
			.text__item2{
				font-size: 21px;
				line-height: 1.5;
				transition: all 1s ease;
			}
		}

		.dropbox-content__button{
			width: 71%;
			height: 100px;
			margin-top:50px; 
			transition: all 1s ease;

			.dropbox-content__button-link{
				display: block;
				height: 60px;
				padding: 19px 24px;
				line-height: 21px;
				box-sizing: border-box;				
				border-radius: 6px;
				background: #0071e0;
				font-size: 21px;
				color: #fff;
				text-decoration: none;
				text-align: center;
				
				&:hover{
					background: #3398ea;
				}
			}

			.dropbox-content__button-paragraph{
				margin-top: 15px;
				margin-bottom: 0;
				font-size: 16px;
				color: #47525d;
				transition: all 1s ease;

				.paragraph__link{
					border-bottom: 1px solid #0071e0;
					color: #0071e0; 
					text-decoration: none;

					&:hover{
						color: #3398ea;
					}
				}
			}
		}
	}
}