/*MICROSOFT*/
//My Mixins

.links{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #2F2F2F;
	transition: background-color ease-out .5s;
}

.linkshover{
	background-color: #f2f2f2;
	transition: background-color ease-out 0s;
}

.dropdownlinks{
	display: block;
	width: 100%;
	height: 55px;
	padding: 17px 24px;
	box-sizing: border-box;
}

.hidebtns{
	width: 100%;
	height: 100%;
	font-size: 25px;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}


body{
	margin:0;
}

.microsoft-wrap{
	max-width: 1680px;
	width: 100%;
	margin: 0 auto;

	.microsoft-content{
		width: 90%;
		height: 50px;
		margin: 0 auto;
		box-sizing: border-box;
		font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;

		.microsoft-logo{
			float: left;
			margin-right: 1.3%;
			margin-top: 13px;

			.microsoft-logo__link{
				display: block;
				width: 108px;
				height: 23px;

				img{
					width: 100%;
				}
			}
		}

		.microsoft-nav{
			float: left;
			width: 315px;
			height: inherit;

			.microsoft-list{
				width: 100%;
				height: inherit;
				padding: 0;
				margin: 0;
				list-style: none;

				.microsoft-list__item{
					float: left;
					width: 33%;
					height: inherit;

					a{
						display: flex;
						justify-content: center;
						align-items: center;
						.links;

						&:hover{
							.linkshover;
						} 

						&:focus{
							background-color: #f2f2f2;
						}

						.fa-angle-down{
							margin-top: 5px;
							font-size: 12px;
							margin-left: 5px;
						}
					}

					.microsoft-dropdown{
						position: absolute;
						z-index: 1;
						width: 240px;
						height: 440px;
						background-color: #f2f2f2;
						display: none;


						.microsoft-dropdown__item{
							.dropdownlinks;

							&:hover:first-child{
								text-decoration: underline;
							}

							&:hover{
								background-color: #e5e5e5;
							}

							.fa-angle-right{
								float: right;
								margin: 5px 0; 
								font-size: 12px;
							}
						}

						.microsoft-dropdown__subcategory{
							position: absolute;
							width: 300px;
							height: 440px;
							top: 0;
							left: 100%;
							background-color: #e5e5e5;
							display: none;
							
							.microsoft-dropdown__subcategory_item{
								.dropdownlinks;

								&:hover{
									 background-color: #d9d9d9;
									 text-decoration: underline;

								}
							}
						}
					}
				}
			}
		}

		.microsoft-user{
			float: right;
			width: 105px;
			height: inherit;
			overflow: hidden;
			padding: 8px 10px 0 10px;
			box-sizing: border-box;
			transition: background-color ease-out .5s;

			&:hover{
				cursor: pointer;
				.linkshover
			}

			.microsoft-user__name{
				float: left;
				font-size: 11px;
				margin-right: 21%;
				transition: all 1s ease;
			}

			img{
				height: 36px;
				width: 36px;
			}
		}

		.microsoft-search{
			float: right;
			height: inherit;
			overflow: hidden;;
			box-sizing: border-box;

			form{
				float: left;
				margin-top: 8px;
				margin-right: 5px;
				transition: all 1s ease;


				.microsoft-search__field{
					float: left;
					width: 244px;
					height: 36px;
					padding: 0 10px;
					font-size: 15px;
					font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
					color: #2F2F2F;
					line-height: 1.5;
					outline: none;
					border: 1px solid #A9A9A9;
					border-right: 0; 
					box-sizing: border-box;

						&::-webkit-input-placeholder{
							color: #2F2F2F;
						}
						&:focus::-moz-placeholder{
							color: #2F2F2F;
						}         
						&:focus:-moz-placeholder{
							color: #2F2F2F;
						}        
						&:focus:-ms-input-placeholder{
							color: #2F2F2F;
						}

						&::-webkit-search-cancel-button{
							display: none;
						}
					}

				.microsoft-search__button{
					width: 33px;
					height: 36px;
					font-size: 19px;
					padding: 0;
					background-color: transparent;
					border: 1px solid #A9A9A9;
					border-left: none;
					outline: none;
					cursor: pointer;

					&:hover{
						color: #0078D7;
					}

					.fa-neuter{
						transform:rotate(45deg);
					}
				}
			}
		}

		.microsoft-search__bucket{
			float: left;
			width: 50px;
			height: inherit;
			text-align: center;
			box-sizing: border-box;

			a{
				display: block;
				position: relative;
				.links;
				padding: 18px 0;
				font-size: 12px;
				box-sizing: border-box;

				&:hover{
					.linkshover;
				}

				&:active{
					color: #2F2F2F;
				}

				.fa-shopping-cart{
					font-size: 19px;
				}
			}
		}

		/*HIDE ITEMS*/

		.microsoft-sandwich{
			display: none;
			float: right;
			width: 45px;
			height: 50px;

			button{
				.hidebtns;

				&:hover{
					.linkshover;
				}
			}
		}
		
		.microsoft-hide_nav{
			display: none;
			float: right;
			height: 50px;
			list-style: none;
			padding: 0;
			margin: 0;

			.microsoft-hide__bucket,.microsoft-hide__search_button{
				float: right;
				width: 45px;
				height: 100%;
			}

			.microsoft-hide__bucket{

				a{
					display: block;
					box-sizing: border-box;
					.links;
					font-size: 15px;
					padding: 35% 15%;

					&:hover{
						.linkshover;
					}

					&:active{
						color: #2F2F2F;
					}

					.fa-shopping-cart{
						font-size: 20px;
					}
				}
			}

			.microsoft-hide__search_button {

				button{
					.hidebtns;

					&:hover{
						.linkshover;
					}

					.fa-neuter{
						transform:rotate(45deg);
					}
				}
			}
		}
	}

	.microsoft-search__hide{ 
		display: none;
		width: 90%;
		height: 75px;
		margin: 0 auto;
		background-color: #f2f2f2;
	}
}
